@import '../../styles/colors';

$prefix: order;

.#{$prefix} {

  .preloader {
    width:      64px;
    height:     64px;
    background: url('https://wwwcache.wraltechwire.com/presentation/v3/images/loading.gif');
    position:   absolute;
    margin:     auto;
    top:        0;
    left:       0;
    bottom:     0;
    right:      0;
  }

  select {
    text-transform: capitalize;
  }

  .products-list {
    max-width: 500px;

    .col-xs-4 {
      margin-bottom: 15px;
    }

    .product-item-count {
        display:   inline-block;
        max-width: 150px;
    }

  }

}