@import './colors';

$btn-float-background: map-get($colors, 'mediumseagreeen');

.page {
  height: 100%;
}

.form-group.required .control-label:after {
  content: " *";
  color:   map-get($colors, 'red');
}